
<h1>Hello {{user.username}}. Welcome in Park'in</h1>
<h1>Please click in that under button to confirm your account.</h1>
<p><a href={{ absolute_url(path('verify_user', {token: token}))}}>Confirm</a></p>
 <h3>This email will expire after 3hours.</h3>